@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.chatcontainer {
  background-color: #303030;
  height: 100%;
}

.top {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  color: white;
  font-family: Russo One;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
}

.samplechat {
  width: 100%;
}

.review {
  text-align: left;

  background-image: url('../../assets/images/reviewbg.png');
  background-size: cover;
  height: 100%;
  padding: 50px 100px;
}

.review-title {
  font-family: Russo One;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: white;
  margin: 0;
  padding-bottom: 20px;
}
.chatlogo {
  margin-top: 64px;
  margin-bottom: 57px;
  margin-right: 38px;
}
.player-review {
  padding-bottom: 20px;
}
.player {
  margin: 0;
  background: white;
  border-radius: 10px;
  font-family: Russo One;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: black;
  padding-left: 30px;
}
