body, html{
    height: 100%;
}

.section {
}

.bkgd{
    background-color: black;
    height: 100%;
    width: 100%;
}
.bkgd img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%; 
}

.hero {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 80pt;
}

.hero img { //logo
    display: block;
    position: relative;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.herotitle {
    display: block;
    position: relative;
    margin-top: -130px;

}

.herotext {
    display: block;
    position: relative;
    margin-top: 220px;
    
    h1 {
        font-size: 80pt;
    }
    p {
        font-size: 45pt;
        margin: -70px
    }
    a {
        color: white;
    }
}