@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

.container {
  background-image: url('../../assets/images/event');
  background-repeat: no-repeat;
  height: 60vh;
  background-color: black;
}

.content {
  display: flex;
  flex-direction: column-reverse;
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 50px;
  }
}

.banner-logo {
  text-align: center;
}

.banner-image {
  width: 40%;
  @media (min-width: 768px) {
    width: 100%;
  }
}
.text {
  color: white;
  font-family: Orbitron;

  @media (min-width: 768px) {
    text-align: left;
    padding-left: 40px;
    font-size: 54px;
  }
}

.slogan {
  font-size: 25px;
}
