@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

.container {
  background-image: url('../../assets/images/event');
  background-repeat: no-repeat;
  height: 60vh;
  background-color: black;
}

.content {
  display: flex;
  justify-content: space-between;
}

.banner-logo {
  text-align: center;
  margin-top: 95px;
}
.text {
  color: white;
  text-align: left;
  font-family: Orbitron;
  margin-top: 100px;
  margin-bottom: 130px;
  margin-left: 210px;
  font-size: 54px;
}

.slogan {
  font-size: 25px;
}
