@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

.container {
    background-image: url("../../assets/images/dbheaderbg.png");
    background-color:black;
}

.userinfo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -250px;
}

.pf{
    margin-top: 60px;
    margin-bottom: 75px;
}
.gamer {
    margin-top: 110px;
    text-align: left;
}
p {
    margin: 0;
    padding: 0;
}

.welcome {
    font-family: Russo One;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.nickname {
    font-family: Orbitron;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    background: -webkit-linear-gradient(#eee, rgba(68, 233, 255, 0.8));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.rating {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-style: italic;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    color:white;
    margin-top: 20px;
}
