section {
    background-color: #282c34;
    padding-left: 60px;
    display: flex;
    background-color: #282c34;
    color: white;
}

.jadeheader {
    height: 40px;
}

.jadetext {
    height: 40px;
}

h2 {
    font-family: 'Source Sans Pro';
    float: left;
}

.links {
    display: flex;
    justify-content: space-evenly;
}